/* 导航主体 */
.nav-side{
    float: left;
    /* 同时设置宽和高,才会在页面中占据一个位置 */
    width: 130px;
    min-height: 100px
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color:#888;
}
.nav-side .nav-item.active .link{
    color:#c6002c;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}