<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - HelloMall</title><!--动态插入title内容-->

</head>
<body>
    <!-- 插入nav和header -->
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <!-- 面包屑导航 begin -->
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">HelloMall</a>
                <span>></span>
                <span class="link-text"><%= htmlWebpackPlugin.options.title%></span><!--动态插入面包屑导航-->
            </div>
        </div>
    </div>
    <!-- 面包屑导航 end -->
    <div class="page-wrap w">

    </div>
    <!-- 插入footer -->
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>